
process {
  executor = 'awsbatch'
  withName: split_intervals {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = 2
    memory = { 8.GB * task.attempt }
  }

  withName: subset_tumor_per_batch {
    
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = { 4 * task.attempt } 
    memory = { 8.GB * task.attempt } 
  }

  withName: subset_tumor_all_shards {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = { 2 * task.attempt } 
    memory = { 16.GB * task.attempt } 
  }

  withName: mutect_wrapper {
    errorStrategy = 'retry'
    maxRetries = 3
    queue        = "${PW_ONDEMAND_JOB_QUEUE}"
    // increase memory each attempt
    memory = { 8.GB * task.attempt }   // 16GB, 32GB, 48GB...
    cpus   = 2
  }

  withName: gather_vcfs {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = 1
    memory = { 4.GB * task.attempt } 
  }

  withName: gather_mutect_outputs {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = 1
    memory = { 4.GB * task.attempt } 
  }
  
  withName: learn_read_orientation_model {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = 2
    memory = { 8.GB * task.attempt } 
  }

  withName: calculate_contamination {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus   = 2
    memory = { 8.GB * task.attempt } 
  }

  
}

aws {
  region = 'us-east-1'
}