process {
  executor = 'awsbatch'

  withName: SPLIT_INTERVALS {
    errorStrategy = 'terminate'
    maxRetries = 4
    cpus = 2
    memory = { 8.GB * task.attempt }
  }
  withName: INDEX_CONTEST_VCF{
    errorStrategy = 'terminate'
    maxRetries = 4
    cpus = 2
    memory = { 8.GB * task.attempt }

  }

  withName: MUTECT1 {
    errorStrategy = 'retry'
    maxRetries = 3
    queue = "${PW_ONDEMAND_JOB_QUEUE}"
    cpus = 2
    memory = { 16.GB * task.attempt }
  }

  withName: CONTEST {
    errorStrategy = 'terminate'
    maxRetries = 3
    queue = "${PW_ONDEMAND_JOB_QUEUE}"
    cpus = 2
    memory = { 16.GB * task.attempt }
  }

  withName: GATHER_AND_FILTER {
    errorStrategy = 'terminate'
    maxRetries = 2
    cpus = 2
    memory = { 8.GB * task.attempt }
  }
}

aws {
  region = 'us-east-1'
}